.container {
    overflow:hidden;
    font-family: 'Roboto Mono', monospace !important;
    height: 35vh;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:45px;
    border-style:1.5px soild black;
    font-size:15px;
    background-color:none;

}

.editorStyle:focus{
    outline:none;
}

.header{
    border: 2px solid var(--customWhite);
    background-color:var( --customBlue);
    font-size:20px;
    padding:10px 0px 0px 10px;
    color:white;
    box-shadow:10px 30px 30px rgba(45,45,45,.5);

}

.body {
    display: grid;
    overflow: hidden;
    text-align:justify !important; 
    background-color:black;
    color:var(--customGreen);
    border:1.5px solid var(--customWhite);
    width:100%;
}

textarea{
    resize: none;
    width:100%;
    border-style:none;
    text-align:justify !important; 
    height:29vh;
}

textarea:focus{
    outline:none;
}

.content {
    overflow-y: scroll;
    background-color:black;
    color:var(--customGreen);
    font-size:15px;
    text-align:justify !important; 

}

.windows{
    margin-bottom:8px;
    font-size:30px;
}

